*,
body {
    margin: 0;
    padding: 0;

}

#firstid {}

.important-places {
    color: rgb(0, 2, 93);
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.dom-container li {
    color: red;
}